<div id="about-page">
	<div class="about-text-header">
		<h1>
			Xin <br />
			Chào
		</h1>
	</div>

	<div class="about-text">
		<p class="about-text-paragraph">
			My name is Cong Kim. I am currently a Product Designer at <a style="font-weight: 700" href="https://www.tapestry.com/">Tapestry</a>. 

			I am dedicated to creating intuitive and thoughtful digital experiences. I would love to work more in the social impact space where I can contribute towards building products that directly help people from marginalized communities.
		</p>

		<a class="resume" href="/assets/CongKim_ResumeMain_2.0.pdf" target="_blank"
			>Resume
			<span class="resume-title-bar"></span>
		</a>
	</div>
</div>
