<div id="about-page">
	<div class="about-text-header">
		<h1>
			Xin <br />
			Chào
		</h1>
	</div>

	<div class="about-text">
		<p class="about-text-paragraph">
			My name is Cong Kim. I am a self-taught Product Designer based in
			New York City who is passionate about user centered design. I am
			currently looking for a full-time opportunity, ideally in the <b>social impact</b> space where I can contribute towards building products that directly help people from marginalized communities. <br /><br />

			My process includes all phases of designing a product -
			discovery, research and delivery. Additionally, my visual design skills help me
			elevate the "look and feel" of the products I work on. I also have
			experience with front-end development, which allows me to
			collaborate easily with developers. <br /><br />

			As someone who has intimately experienced three different cultures
			(Vietnam, Russia and the United States) throughout my life, I have a
			unique angle as a designer. This makes me open minded and empathetic
			towards different users which I think is ultimately the key to
			improving user experience. <br /><br />

			Aside from product design, I pursue photography and fashion as
			hobbies. You may view my photography work below.
		</p>

		<a class="resume" href="/assets/CongKim_ResumeMain_2.0.pdf" target="_blank"
			>Resume
			<span class="resume-title-bar"></span>
		</a>
	</div>
</div>
