
<!--------------------- HEADER ---------------------->

<div id="bagels-header">

	<h1>Bagels & Co.</h1>
	<p>Creating a visually interesting restaurant website with an intuitive <br> online ordering experience.</p>
	<img src="/assets/images/bagels/bagels-header.png">
</div>



<!--------------------- HEADER END ---------------------->

<section id="bagels-content">


<!--------------------- OVERVIEW ---------------------->


<div id="bagels-overview">
	<div class="project-section-title">
	<h2>Overview
	<span class="project-section-title-bar"></span>
	</h2>

	</div> 

	<div class="project-section-content">
		<p class="overview-text">Bagels & Co. is a deli located in Manhattan that specializes in bagels and other deli staples. Along side with a website redesign they also wanted a custom built in-house ordering system to avoid high third-party commision fees and increase customer loyalty. I was responsible for the end-to-end design to revitalize their website and create the new ordering system, all within a tight deadline. <br><br>

		<span style="font-weight: 600;">For this case study I mainly focused on the goals and solutions for the homepage and ordering system.</span>

		</p>

		<div class="project-goal">
			<h3>Project Goals</h3>

			<h5>Homepage </h5>
			<ul>

			<li>Showcase the food and location vibe</li>
			<li>Buid trust with the customers </li>
			<li>Key information is easily accessible</li>
			<li>Clear call-to-action</li>
			<li>Mobile Friendly</li>

			</ul>

			<h5>Online Ordering Sytem</h5>
			<ul>

			<li>Clear and efficient ordering process</li>
			<li>Easy search and filtering options</li>
			<li>Order tracking functionality</li>
			<li>Mobile Friendly</li>


			</ul>

		</div>

		<div class="project-background">
			<div class="role">
				<h4>ROLE</h4>
				<ul>
					<li>Product Designer</li>

				</ul>
			</div>

			<div class="tasks">
				<h4>TASKS</h4>
				<ul>
					<li>UX Research</li>
					<li>Wireflow</li>
					<li>UI Design</li>
					<li>Prototype</li>
				</ul>
			</div>

			<div class="duration">
				<h4>DURATION</h4>
				<p>3 weeks</p>
			</div>
		</div>

	</div>


</div>


<!--------------------- OVERVIEW END ---------------------->


<!------------------- RESEARCH PHASE -------------------->


<div id="research-phase">

<!------------------- COMPARATIVE ANALYSIS -------------------->

	<div class="project-section-title">
	<h2>Research Phase
	<span class="project-section-title-bar"></span>
	</h2>
</div>

	<div class="project-section-content">
		<h3>Comparative Analysis</h3>
		<p>I began the process with identifying direct competitors to discover common features and see how I can differentiate Bagels & Co. from other bagel delis. I also wanted to gain more insight into different online ordering systems and understand how I can create an intuitive process for customers to order online. <br><br> 

		The direct competitors I identified were Black Seed, Sadelle's, and Olde Brooklyn Bagel. The key takeaway from this research was an understanding of what other businesses choose to highlight on their homepages. This was useful in creating a guideline for what needed to be included on Bagel's & Co homepage, and then aligning that with our main goal of a design that communicates their values and builds trust with the customers. <br><br>
		<strong>These are examples of competitor's homepage layouts:</strong></p>
	</div>

	<div class="competitors-homepage">
		<img src="/assets/images/bagels/black-seed.png">
		<img src="/assets/images/bagels/sadelles.png">
		<img src="/assets/images/bagels/olde-brooklyn-bagel.png">

	</div>

	<div class="online-ordering-system-text">
	<p>To learn more about online ordering system I looked into UberEats, Seamless, and Caviar. I wanted to learn about their full ordering process, from choosing an order to delivery. Overall, the features are very similar across the platforms. <br><br>
	<strong>These are some of the highlighted features that I found across these platforms:</strong>  </p>

	<ul>

		<li>Pickup/Delivery Option</li>
		<li>Item Customization</li>
		<li>Order Tracking</li>

	</ul>
</div>
	<img class="online-ordering-system-logo" src="/assets/images/bagels/online-ordering-system.png">

<!------------------- COMPARATIVE ANALYSIS END -------------------->

<!------------------- USER RESEARCH -------------------->
<div class="project-section-content">
	<h3>User Research</h3>

	<p>I interviewed three users who frequently look up new restaurants and use online food ordering apps in order to gain insights into :
	</p>

	<ul>

		<li>Why users visit a restaurant website and what type of information they expect the site to have?</li>
		<li>The users thoughts and process while ordering food online. </li>

	</ul>

	<p>Below are some findings that I was able to gather from the interviews. The findings are extremely helpful for me during the design stage.</p>


	</div>

	<img class="user-input" src="/assets/images/bagels/user-input1.png">


<!------------------- USER RESEARCH END -------------------->


<!------------------- USER PERSONA  -------------------->

<!-- <div class="project-section-content">
	<h3>User Persona</h3>

	<p>To get a better idea of who I am designing for, I created a persona that represents my main the target audience. 
	</p>
</div>

<img class="persona" src="/assets/images/bagels/user-persona.png"> -->



<!------------------- USER PERSONA END -------------------->


</div>
<!------------------- RESEARCH PHASE END -------------------->

<!-------------------HOMEPAGE DESIGN -------------------->

<div id="homepage-design">
<div class="project-section-title">
	<h2>Homepage Design
	<span class="project-section-title-bar"></span>
	</h2>
</div>

<!-------------------HOMEPAGE WIREFRAME -------------------->

<div class="project-section-content">
		<h3>Wireframe</h3>
		<p>Based on insights from the comparative analysis as well as user research, I began the process of creating the wireframe for the homepage. I made sure the design and content addesses the user's needs.

</p> 
	</div>

	<img class="homepage-wireframe" src="/assets/images/bagels/homepage-wireframe.png">

<!-------------------HOMEPAGE WIREFRAME END -------------------->

<!-------------------HOMEPAGE STYLE GUIDE -------------------->

<div class="project-section-content">
		<h3>Style Guide</h3>
		<p>For the final UI design I implemented colors and components that are visually pleasing and communicate the vibe of the restaurant. The website also needs to responsible, since a lot of users prefer to order on their phones. </p>
	</div>

	<img class="style-guide" src="/assets/images/bagels/style-guide.png">

<!-------------------HOMEPAGE STYLE GUIDE END -------------------->


<!-------------------HOMEPAGE PROTOTYPE END -------------------->
<div class="project-section-content">
		<h3>Final Design</h3>
	</div>


<div class="home-final-design" style="padding-top: 56.1%; position: relative; overflow: hidden;"><iframe frameborder="0" allowfullscreen="" scrolling="no" allow="autoplay;fullscreen" src="https://onelineplayer.com/player.html?autoplay=false&autopause=false&muted=false&loop=true&url=https%3A%2F%2Fwww.dropbox.com%2Fs%2Fsrgnvem0efobxwl%2Fhomepage.mp4%3Fraw%3D1&poster=https%3A%2F%2Fwww.dropbox.com%2Fs%2Fvduq2y49gsukp1l%2Fhomepage%2520%25281%2529.jpg%3Fraw%3D1&time=true&progressBar=true&overlay=true&muteButton=false&fullscreenButton=true&style=light&quality=auto&playButton=true" style="position: absolute; height: 100%; width: 100%; left: 0px; top: 0px;"></iframe></div>


<div class="home-final-design-mobile" style="padding-top: 120%; position: relative; overflow: hidden;"><iframe frameborder="0" allowfullscreen="" scrolling="no" allow="autoplay;fullscreen" src="https://onelineplayer.com/player.html?autoplay=false&autopause=false&muted=false&loop=true&url=https%3A%2F%2Fwww.dropbox.com%2Fs%2F8bx25a1h30ywzb7%2Fmobile-homepage.mp4%3Fraw%3D1&poster=&time=true&progressBar=true&overlay=true&muteButton=false&fullscreenButton=true&style=light&quality=auto&playButton=true" style="position: absolute; height: 100%; width: 100%; left: 0px; top: 0px;"></iframe></div>

<!-------------------HOMEPAGE PROTOTYPE END -------------------->

</div>

<!-------------------HOMEPAGE DESIGN END -------------------->


<!-------------------ORDERING SYSTEM -------------------->


<div id="ordering-system-design">
<div class="project-section-title">
	<h2>Online Ordering System
	<span class="project-section-title-bar"></span>
	</h2>
</div>

<div class="project-section-content">
		<h3>Wireflow</h3>
		<p>I started the design phase by creating a wireflow of the user going through the online ordering process. I made sure to include all necessary steps without overcomplicating navigation for the user. I also visualized the general layout of each screen for better context. On the Online Order page I made sure to have the store's hours for easy reference.
</p>
	</div>

<div class="wireflow">
	<img src="/assets/images/bagels/wireflow.png">
</div>

<div class="project-section-content">
		<h3>Final Prototype</h3>

		<p>The completed ordering system provides a smooth process for the user from selecting their items to checkout and delivery tracking.</p>
	</div>



<div class="ordering-system-prototype"  style="padding-top: 56.1%; position: relative; overflow: hidden;"><iframe frameborder="0" allowfullscreen="" scrolling="no" allow="autoplay;fullscreen" src="https://onelineplayer.com/player.html?autoplay=false&autopause=false&muted=false&loop=true&url=https%3A%2F%2Fwww.dropbox.com%2Fs%2Fp0jycv7zk5qmtho%2Fordering-process.mp4%3Fraw%3D1&poster=https%3A%2F%2Fwww.dropbox.com%2Fs%2Fkh8nnzt7l0sosg8%2Forder-system.png%3Fraw%3D1&time=true&progressBar=true&overlay=true&muteButton=false&fullscreenButton=true&style=light&quality=auto&playButton=true" style="position: absolute; height: 100%; width: 100%; left: 0px; top: 0px;"></iframe></div>


<div class="mobile-screens">
	
<img src="/assets/images/bagels/mobile-screens.png">

</div>

<div class="mobile-screens">
	
<img src="/assets/images/bagels/mobile-screens1.png">

</div>


</div>



<div class="divider"></div>


<!-------------------ORDERING SYSTEM END -------------------->

</section>



<!------------------- OTHER PROJECTS-------------------->


<div class="other-projects">
	<h2>Other Projects</h2>
	<div class="op-container">
		<div class="opporty project">
			<a href="/opporty/" target="_blank">
			<img src="/assets/images/opporty/header.jpg" alt="" >
			</a>

			<div class="project-description">
				<h3>Opporty</h3>
				<p>UX/UI Design</p>
			</div>
		</div>

		<div class="peer project">
		<a href="https://www.behance.net/gallery/84356841/peer" target="_blank">
		<img src="/assets/images/peer2.jpg" alt="" >
		</a>
		<div class="project-description">
			<h3>Peer.</h3>
			<p>Visual Design</p>
		</div>
	</div>


		<div class="dries project">
		<a href="https://www.behance.net/gallery/86340647/Dries-Van-Noten-Web-Store" target="_blank">
		<img src="/assets/images/dries.jpg" alt="" >
		</a>

		<div class="project-description">
			<h3>Dries Van Noten</h3>
			<p>Visual Design</p>
		</div>
	</div>
	</div>
</div>

<!------------------- OTHER PROJECTS END-------------------->