<div id="wrapper">
	<div class="lightbox" >
		<img class="doodle" src="/assets/images/MessyDoodle.png">

		<div class="horizontal">
			<div class="vertical">
				<p>This case study is password-protected. <br>Please contact me at <a href="mailto:congkim94@gmail.com">congkim94@gmail.com</a> for details.</p>
				<div class="box">
					<input id="password" type="password" placeholder="Password" /> <br />
					<button id="loginbutton" type="button">Enter</button>
					<p id="wrongPassword" style="display: none">wrong password</p>
				</div>
			</div>
		</div>
	</div>
</div>


	<script type="text/javascript" src="/assets/javascripts/jquery-3.5.1.min.js"></script>

	<script type="text/javascript">
	"use strict";

	// Set your password here - change "checkout" to your desired password
	var CORRECT_PASSWORD = "cong-protected";
	var REDIRECT_URL = "https://launch-setup-12791404.figma.site";

	function checkPassword(pwd) {
		if (pwd === CORRECT_PASSWORD) {
			window.location.href = REDIRECT_URL;
		} else {
			$("#password").attr("placeholder", "wrong password");
			$("#password").val("");
		}
	}

	$("#loginbutton").on("click", function() {
		checkPassword($("#password").val());
	});
	$("#password").keypress(function(e) {
		if (e.which === 13) {
			checkPassword($("#password").val());
		}
	});
	$("#password").focus();

	</script>
