<section id="contact" >
	
	<div class="footercontent">

	<h2>Always open to new <br class="desktop-br"> opportunities. <br class="phone-br"> <a href="mailto:congkim94@gmail.com" target="_blank" > Get in touch → </a></h2>



		<ul>
			<li><a href="/assets/CongKim_Resume.pdf" target="_blank">Resume</a></li>
			<li><a href="https://www.linkedin.com/in/cong-k-04618a63/" target="_blank">LinkedIn</a></li>
			<li><a href="mailto:congkim94@gmail.com" target="_blank">Email</a></li>
	
		</ul>
	<!-- </div> -->
	</div>
	

</section>