<section id="contact" >
	
	<div class="footercontent">
	<!-- <div class="email">
		<h2>GET IN TOUCH</h2>
		<a href="mailto:congkim94@gmail.com">congkim94@gmail.com</a>
	</div> -->

<!-- 	<div class="social"> -->
<!-- 		<h2>SOCIAL</h2> -->
		<!-- <div class="sayhello">say hello</div> -->
		<ul>
			<li><a href="mailto:congkim94@gmail.com" target="_blank">Email</a></li>
			<li><a href="https://www.behance.net/congkim" target="_blank">Behance</a></li>
			<li><a href="https://www.linkedin.com/in/cong-k-04618a63/" target="_blank">LinkedIn</a></li>
	
		</ul>
	<!-- </div> -->
	</div>
	

</section>