<div id="header">
	<svg
		class="webshape"
		xmlns="http://www.w3.org/2000/svg"
		width="800"
		height="760"
		viewBox="0 0 305 323.257"
	>
		<path
			class="web"
			data-name="web"
			d="M821.255,1307.734c-56.624,75.02-138.126-15.708-138.126,79.633s39.435,195.3,138.126,166.079-4.34-136.861,52.558-136.861,116.87-19.991,67.662-92.266S821.255,1307.734,821.255,1307.734Z"
			transform="translate(-1080.483 1239.454) rotate(-101)"
			fill="#F9F9F9"
		/>
		<
	</svg>
	<div class="hover-container">
	<div class="profile">
		<h1 class="name">CONG KIM</h1>
		<div class="tag">
			<h2 class="title">product designer</h2>
			<p class="bio">
				Dedicated to creating intuitive and thoughtful digital
				experiences.
			</p>
		</div>

		<img class="mainpic" src="../assets/images/headshot.png" alt="" />
	</div>
	</div>
</div>
