	<section id="my-work">

<div class="title1">
<h2>My Work <span>Please take a look at my <a href="https://www.behance.net/congkim">Behance</a> for more UI designs.</span></h2>

</div>

<div class="projects-container">
	<div class="bagel project">
			<a href="/bagels">
			<img src="/assets/images/bagels/bagel-main.jpg" alt="" >
	

			<div class="project-description">
				<h3>Online Ordering System</h3>
				<p>UX/UI Design</p>
			</div>
			</a>
		</div>

		
	<div class="opporty project">
		<a href="/opporty/">
		<img src="/assets/images/opporty/header.jpg" alt="" >
		

		<div class="project-description">
			<h3>Opporty</h3>
			<p>UX/UI Design</p>
		</div>
		</a>
	</div>

<div class="travel project">
	<a href="protected.html">
		<img src="/assets/images/travel/travel-thumbnail.jpg" alt="" />
		<div class="project-description">
			<h3>Travel App</h3>
			<p>UX/UI Design</p>
		</div>
	</a>
</div>

	<div class="peer project">
		<a href="https://www.behance.net/gallery/84356841/peer" target="_blank">
		<img src="/assets/images/peer2.jpg" alt="" >
		
		<div class="project-description">
			<h3>Peer.</h3>
			<p>Visual Design</p>
		</div></a>
	</div>







</section>