	<section id="my-work">

<div class="title1">
<h2>My Work</h2>

</div>

<div class="projects-container">

		<div class="adaptable-experience project">
			<a href="ae-protected.html">
			<img src="/assets/images/ae-cover.jpg" alt="adaptable-experience project" >
			<div class="project-description">
				<h3>E-commerce Adaptable Experience </h3>
				<p>Case study prototype, live case study coming soon </p>
			</div>
			</a>
		</div> 


		<div class="design-system project">
			<a href="ds-protected.html">
			<img src="/assets/images/ds-cover.jpg" alt="design-system project" >
			<div class="project-description">
				<h3>Multi-brand Design System </h3>
				<p>Design System</p>
			</div>
			</a>
		</div> 


		<div class="travel project">
			<a href="/travel/">
				<img src="/assets/images/travel/travel-thumbnail.jpg" alt="" />
				<div class="project-description">
					<h3>Travel App</h3>
					<p>Product Design</p>
				</div>
			</a>
		</div>


		<div class="opporty project">
			<a href="/opporty/">
			<img src="/assets/images/opporty/header.jpg" alt="" >
			
	
			<div class="project-description">
				<h3>Opporty</h3>
				<p>Product Design</p>
			</div>
			</a>
		</div>












</section>