<header>



	<a class="logo" href="/"><img src="/assets/images/logo2.png" alt=""></a>

	<div class="menu-toggle">
      <div id='top'></div>
      <div id='bottom'></div>
  </div>
	
	<div class="navigation">
	<nav class="box">
		<ul class="main-nav-mobile">

			<li>
				<a href="/#webdesigns">Work</a>
			</li>
			<li>
				<a href="/about/">About </a>
			</li>
			<li>
				<a href="#contact">Contact</a>
			</li>
		</ul>

		<ul class="secondary-nav-mobile">
			<li><a href="mailto:congkim94@gmail.com">Email</a></li>
			<li><a href="https://www.linkedin.com/in/cong-k-04618a63/" target="_blank">LinkedIn</a></li>
			<li><a href="https://www.behance.net/congkim" target="_blank">Behance</a></li>
			
		</ul>

			
		




	</nav>
	</div>
</header>