<!--------------------- HEADER ---------------------->

<div id="opporty-header">
	<h1>OPPORTY</h1>
	<p>
		Creating a user experience that seamlessly connects users to trusted
		businesses.
	</p>
	<img src="/assets/images/opporty/header.jpg" />
</div>

<!--------------------- HEADER END ---------------------->

<section id="opporty-content">
	<!--------------------- OVERVIEW ---------------------->

	<div id="opporty-overview">
		<div class="project-section-title">
			<h2>
				Overview
				<span class="project-section-title-bar"></span>
			</h2>
		</div>

		<div class="project-section-content">
			<p class="overview-text">
				Opporty is an new innovative service marketplace platform that
				has a big potential. One of the platform’s key goals is to
				support businesses that are owned by or hire disabled, veterans,
				elderly, minorities and those coming from disadvantaged
				backgrounds. Opporty allows businesses to market their services
				while giving buyers an opportunity to find, research and order
				those services.
			</p>

			<h3>Project Goal</h3>
			<p>
				Our team's goal was to improve the user's experience navigating
				Opporty's online marketplace, by integrating features that
				differentiate Opporty from its competitors and align with
				Opporty’s mission of supporting businesses with social impact,
				all to increase user acquisition.
			</p>
			<div class="project-background">
				<div class="role">
					<h4>ROLE</h4>
					<ul>
						<li>UX Research</li>
						<li>Strategy</li>
						<li><strong>Wireframing </strong></li>
						<li><strong>UI Design</strong></li>
						<li><strong>Protyping</strong></li>
					</ul>
				</div>

				<div class="teammates">
					<h4>TEAMMATES</h4>
					<ul>
						<li>Rosa Genetti</li>
						<li>Yael Ezer</li>
						<li>Eduardo Crespo</li>
					</ul>
				</div>

				<div class="duration">
					<h4>DURATION</h4>
					<p>3 months</p>
				</div>
			</div>
		</div>
	</div>

	<!--------------------- OVERVIEW END ---------------------->

	<!------------------- COMPETITIVE ANALYSIS -------------------->

	<div id="opporty-competitive-analysis">
		<div class="project-section-title">
			<h2>
				Competitive Analysis
				<span class="project-section-title-bar"></span>
			</h2>
		</div>
		<div class="project-section-content">
			<p>
				In order to understand more about the service marketplace
				industry we looked into Opporty's established competitors:
				Fiverr, Thumbtack, Handy, Upwork, Task Rabbit and Angie's List.
				<br />
				<strong>Main findings: </strong>
			</p>

			<ul>
				<li>They all have a clear and concise value proposition.</li>
				<li>
					Market is searchable from the homepage header either via a
					search box and/or category options.
				</li>
				<li>
					There are generally 2 types of flows when searching for a
					service. The first one is displaying all the results of the
					user's search with a filter section to narrow down the
					results. The second one guides the user through a filtering
					process before showing the results.
				</li>
			</ul>
		</div>

		<picture class="competitors-logo">
			<source
				media="(max-width: 480px)"
				srcset="/assets/images/opporty/competitors-mobile.jpg"
			/>
			<img
				src="/assets/images/opporty/competitors.jpg"
				alt="IfItDoesntMatchAnyMedia"
			/>
		</picture>
	</div>

	<!------------------- COMPETITIVE ANALYSIS END -------------------->

	<!------------------- USER RESEARCH -------------------->

	<div id="opporty-user-research">
		<div class="project-section-title">
			<h2>
				User Research
				<span class="project-section-title-bar"></span>
			</h2>
		</div>

		<div class="project-section-content">
			<h3>User Interview</h3>

			<p>
				We set out to interview 6 potential users to gain insight into:
			</p>

			<ul>
				<li>
					The user’s thoughts and processes when searching for
					services.
				</li>
				<li>
					Social impact's influence on their decision making process
					when choosing a service.
				</li>
				<li>
					User's familiarity with blockchain and their overall
					thoughts on it.
				</li>
			</ul>
		</div>

		<!-- <img class="interview-findings" src="assets/images/opporty/interview-findings.jpg"></img>
 -->

		<div class="findings-box">
			<div class="box-content">
				<h5>USER INTERVIEW FINDINGS</h5>
				<div class="point">
					<img src="/assets/images/opporty/bulletpoints.jpg" />
					<div class="point-content">
						<h6>Pain Point</h6>
						<p>
							Users find that sometimes there were too little or
							too many options to choose from.
						</p>
					</div>
				</div>
				<div class="point">
					<img src="/assets/images/opporty/bulletpoints.jpg" />
					<div class="point-content">
						<h6>Device Preference</h6>
						<p>
							Users prefer using a computer for more in-depth
							research when looking for a service.
						</p>
					</div>
				</div>
				<div class="point">
					<img src="/assets/images/opporty/bulletpoints.jpg" />
					<div class="point-content">
						<h6>User Values</h6>
						<p>
							Users tend to most value the price of the service
							followed by reviews and evidence of work.
						</p>
					</div>
				</div>
				<div class="point">
					<img src="/assets/images/opporty/bulletpoints.jpg" />
					<div class="point-content">
						<h6>Social Impact</h6>
						<p>
							Users said that social impact does influence their
							final decision when mentioned.
						</p>
					</div>
				</div>
				<div class="point">
					<img src="/assets/images/opporty/bulletpoints.jpg" />
					<div class="point-content">
						<h6>Blockchain</h6>
						<p>
							Users are not familiar with blockchain and are
							doubtful about it.
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="project-section-content">
			<h3>Usability Test</h3>

			<p>
				We also designed a usability test of the current marketplace to
				gain insights into:
			</p>

			<ul>
				<li>
					Users first impression of the marketplace and their
					experience navigating the marketplace.
				</li>
				<li>
					User experience of completing the task of searching for a
					specific service in the marketplace.
				</li>
			</ul>
		</div>

		<div class="findings-box">
			<div class="box-content">
				<h5>USABILITY TEST FINDINGS</h5>

				<div class="point">
					<img src="/assets/images/opporty/bulletpoints.jpg" />
					<div class="point-content">
						<h6>Confusion</h6>
						<p>
							The brand messaging is unclear. The term blockchain
							also added to confusion and doubtfulness in the
							platform.
						</p>
					</div>
				</div>
				<div class="point">
					<img src="/assets/images/opporty/bulletpoints.jpg" />
					<div class="point-content">
						<h6>Lack of Direction</h6>
						<p>
							The unclear CTA and navigation made it hard for
							users to start the process of searching for a
							service.
						</p>
					</div>
				</div>
				<div class="point">
					<img src="/assets/images/opporty/bulletpoints.jpg" />
					<div class="point-content">
						<h6>Design Improvement</h6>
						<p>
							Users did not think the sites design was up-to-date
							and this did not give them the confidence to use the
							marketplace.
						</p>
					</div>
				</div>
				<div class="point">
					<img src="/assets/images/opporty/bulletpoints.jpg" />
					<div class="point-content">
						<h6>Complicated Filtering</h6>
						<p>
							Users had trouble filtering the results due to the
							complication of the 2-level filtering system.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!------------------- USER RESEARCH END-------------------->

	<!------------------- RESEARCH SYNTHESIS -------------------->

	<div id="opporty-research-synthesis">
		<div class="project-section-title">
			<h2>
				Research Synthesis
				<span class="project-section-title-bar"></span>
			</h2>
		</div>

		<div class="project-section-content">
			<p>
				After going through our interviews and user testing we decided
				to create an <strong>affinity diagram</strong> in order to
				organize our results into main categories. This helped us with
				analyzing the findings by patterns and themes. As the diagram
				shows, we identified 4 main areas that needed to be worked on:
				<strong
					>Company Profile, Navigation, Messaging, and Search
					Methods</strong
				>.
			</p>
		</div>

		<div class="affinity-diagram">
			<iframe
				class="affinity-iframe"
				src="https://miro.com/app/embed/o9J_kvGpn80=/?autoplay=yep"
				frameborder="0"
				scrolling="no"
				allowfullscreen
			></iframe>
		</div>
	</div>

	<!------------------- RESEARCH SYNTHESIS END-------------------->

	<!------------------- IDEATION-------------------->

	<div id="opporty-ideation">
		<div class="project-section-title">
			<h2>
				Ideation
				<span class="project-section-title-bar"></span>
			</h2>
		</div>

		<div class="project-section-content">
			<p>
				Following our synthesis process and analysis of our findings, we
				decided the following to be the main focus points for our design
				direction.
			</p>
		</div>
	</div>

	<div class="ideation-content">
		<div class="idea idea1 left-column">
			<div class="idea-number">01</div>
			<div class="idea-text">
				<h6>Clarify the Message</h6>
				<p>
					We decided to have a clear and concise message of how
					Opporty can help users. We also would not mention Blockchain
					since most users are doubtful of it.
				</p>
			</div>
		</div>

		<div class="idea idea2 right-column">
			<div class="idea-number">02</div>
			<div class="idea-text">
				<h6>Clear Call to Action</h6>
				<p>
					We will focus on providing the user a clear direction that
					will produce a friendly user experience and assist the user
					in reaching their goal quicker and more efficiently.
				</p>
			</div>
		</div>

		<div class="idea idea3 left-column">
			<div class="idea-number">03</div>
			<div class="idea-text">
				<h6>Simplify the Filtering Process</h6>
				<p>
					We would replace the current 2-level filtering process with
					a more simple standard filter bar.
				</p>
			</div>
		</div>

		<div class="idea idea4 right-column">
			<div class="idea-number">04</div>
			<div class="idea-text">
				<h6>Social Impact</h6>
				<p>
					We will include a section within the listing for applicable
					businesses to have their own social impact description.
				</p>
			</div>
		</div>

		<div class="idea idea5 left-column">
			<div class="idea-number">05</div>
			<div class="idea-text">
				<h6>Add Favorites Tool</h6>
				<p>
					Add a favorites tool that can help users with their decision
					making.
				</p>
			</div>
		</div>

		<div class="idea idea6 right-column">
			<div class="idea-number">06</div>
			<div class="idea-text">
				<h6>Focus on Desktop</h6>
				<p>
					Since users prefer using desktop to do more in-depth search,
					we decided to focus on the desktop platform.
				</p>
			</div>
		</div>
	</div>

	<!------------------- IDEATION END-------------------->

	<!------------------- USERFLOW-------------------->
	<div id="opporty-userflow">
		<div class="project-section-title">
			<h2>
				Taskflow
				<span class="project-section-title-bar"></span>
			</h2>
		</div>

		<div class="project-section-content">
			<p>
				In order to get a better idea of the specific steps the user
				will need to take to find a service, we created a userflow.
			</p>
		</div>

		<div class="userflow-diagram">
			<iframe
				class="userflow-iframe"
				src="https://miro.com/app/embed/o9J_kvn8pSQ=/?autoplay=yep"
				frameborder="0"
				scrolling="no"
				allowfullscreen
			></iframe>
		</div>
	</div>

	<!------------------- USERFLOW-------------------->

	<!------------------- WIREFRAME-------------------->

	<div id="opporty-wireframe">
		<div class="project-section-title">
			<h2>
				Wireframe the Solution
				<span class="project-section-title-bar"></span>
			</h2>
		</div>

		<div class="project-section-content">
			<h3>Homepage</h3>
			<p>
				For the homepage header we made sure to have a clear and concise
				message of the purpose of Opporty's website. We implemented a
				search bar so users can start their searching process with ease.
				We also included popular categories for users convenience.
			</p>
		</div>

		<div class="opporty-wireframe-section">
			<img
				class="old-design"
				src="/assets/images/opporty/old-homepage.jpg"
			/>

			<picture class="arrow">
				<source
					media="(max-width: 480px)"
					srcset="/assets/images/opporty/arrow-mobile.png"
				/>
				<img
					src="/assets/images/opporty/arrow.png"
					alt="IfItDoesntMatchAnyMedia"
				/>
			</picture>

			<img class="new-design" src="/assets/images/opporty/homepage.jpg" />
		</div>

		<div class="project-section-content">
			<h3>Search Results</h3>
			<p>
				We removed the 2-level filtering system and moved the category
				and specialty under one standardized filter bar. We also added
				more filter options for users to narrow down their search
				results. We included more information in the service quick view
				box and added a favorite button. The favorite list can accessed
				via the favorite button on top.
			</p>
		</div>

		<div class="opporty-wireframe-section">
			<div
				class="old-design"
				style="
					overflow: hidden;
					padding-top: 49.06%;
					position: relative;
				"
			>
				<iframe
					src="https://onelineplayer.com/player.html?autoplay=true&autopause=false&muted=true&loop=true&url=https%3A%2F%2Fwww.dropbox.com%2Fs%2Fy9rs2e1hvnjlegp%2Fold-results.mp4%3Fraw%3D1&poster=&time=true&progressBar=true&overlay=true&muteButton=true&fullscreenButton=true&style=light&quality=auto&playButton=true"
					frameborder="0"
					scrolling="no"
					allowfullscreen=""
					style="
						left: 0px;
						top: 0px;
						width: 100%;
						height: 100%;
						position: absolute;
					"
					allow="autoplay;fullscreen"
				></iframe>
			</div>

			<picture class="arrow">
				<source
					media="(max-width: 480px)"
					srcset="/assets/images/opporty/arrow-mobile.png"
				/>
				<img
					src="/assets/images/opporty/arrow.png"
					alt="IfItDoesntMatchAnyMedia"
				/>
			</picture>

			<div
				class="new-design"
				style="
					overflow: hidden;
					padding-top: 53.02%;
					position: relative;
				"
			>
				<iframe
					src="https://onelineplayer.com/player.html?autoplay=true&autopause=false&muted=true&loop=true&url=https%3A%2F%2Fwww.dropbox.com%2Fs%2F6xgp2af18y4bwzr%2Fresults-wireframe.mp4%3Fraw%3D1&poster=&time=true&progressBar=true&overlay=true&muteButton=true&fullscreenButton=true&style=light&quality=auto&playButton=true"
					frameborder="0"
					scrolling="no"
					allowfullscreen=""
					style="
						left: 0px;
						top: 0px;
						width: 100%;
						height: 100%;
						position: absolute;
					"
					allow="autoplay;fullscreen"
				></iframe>
			</div>
		</div>

		<div class="project-section-content">
			<h3>Service Listing</h3>
			<p>
				We reorganized the listing page and improved the visual
				hierarchy of the information presented. We kept the search bar
				for the users convenience. We added a social impact section
				where businesses can add their own description. We also included
				reviews and star ratings that can help users with their
				decisions.
			</p>
		</div>

		<div class="opporty-wireframe-section">
			<div
				class="old-design"
				style="
					overflow: hidden;
					padding-top: 49.06%;
					position: relative;
				"
			>
				<iframe
					src="https://onelineplayer.com/player.html?autoplay=true&autopause=false&muted=true&loop=true&url=https%3A%2F%2Fwww.dropbox.com%2Fs%2F8gzzvottglp1f5l%2Fold-listing.mp4%3Fraw%3D1&poster=&time=true&progressBar=true&overlay=true&muteButton=true&fullscreenButton=true&style=light&quality=auto&playButton=true"
					frameborder="0"
					scrolling="no"
					allowfullscreen=""
					style="
						left: 0px;
						top: 0px;
						width: 100%;
						height: 100%;
						position: absolute;
					"
					allow="autoplay;fullscreen"
				></iframe>
			</div>

			<picture class="arrow">
				<source
					media="(max-width: 480px)"
					srcset="/assets/images/opporty/arrow-mobile.png"
				/>
				<img
					src="/assets/images/opporty/arrow.png"
					alt="IfItDoesntMatchAnyMedia"
				/>
			</picture>

			<div
				class="new-design"
				style="
					overflow: hidden;
					padding-top: 52.96%;
					position: relative;
				"
			>
				<iframe
					src="https://onelineplayer.com/player.html?autoplay=true&autopause=false&muted=true&loop=true&url=https%3A%2F%2Fwww.dropbox.com%2Fs%2Fsx26qaky4xgo2r1%2Flisting-wireframe.mp4%3Fraw%3D1&poster=&time=true&progressBar=true&overlay=true&muteButton=true&fullscreenButton=true&style=light&quality=auto&playButton=true"
					frameborder="0"
					scrolling="no"
					allowfullscreen=""
					style="
						left: 0px;
						top: 0px;
						width: 100%;
						height: 100%;
						position: absolute;
					"
					allow="autoplay;fullscreen"
				></iframe>
			</div>
		</div>
	</div>

	<!------------------- WIREFRAME END-------------------->

	<!------------------- USER TEST-------------------->
	<div id="opporty-user-test">
		<div class="project-section-title">
			<h2>
				User Feedback
				<span class="project-section-title-bar"></span>
			</h2>
		</div>

		<div class="project-section-content">
			<p class="user-test-text">
				We organized another round of user testing for our mid-fidelity
				prototype to validate whether our implemented solutions would
				solve previous problems.
			</p>
		</div>

		<picture class="quote">
			<source
				media="(max-width: 480px)"
				srcset="/assets/images/opporty/quote-mobile.png"
			/>
			<img
				src="/assets/images/opporty/quote.png"
				alt="IfItDoesntMatchAnyMedia"
			/>
		</picture>

		<ul>
			<li>
				<strong>Clear Messaging.</strong> 100% of users were able to
				immediately understand what the website is for with no confusion
				compared to only 20% from the initial test.
			</li>

			<li>
				<strong>Ease of Use.</strong> 80% of users were able to navigate
				the website using the search bar, navigation bars, and location
				search with ease compared to only 20% from the first test.
			</li>

			<li>
				<strong>Social Impact.</strong> All users appreciated the social
				impact section within the service listing.
			</li>

			<li>
				<strong>Desirable Feature Set.</strong> 90% of users were very
				intrigued by the ability to favorite listings.
			</li>
		</ul>
	</div>

	<!------------------- USER TEST END-------------------->

	<!------------------- FINAL DESIGN-------------------->

	<div id="opporty-final-design">
		<div class="project-section-title">
			<h2>
				Final Design
				<span class="project-section-title-bar"></span>
			</h2>
		</div>

		<div class="project-section-content">
			<h3>Style Guide</h3>
			<p>
				Aligning with Opporty's mission of social impact we really
				prioritized accessibility for our final design and made sure
				that it passes the WCAG level AAA conformance. We also picked
				colors that communicate the trustworthiness of the platform.
			</p>
		</div>

		<picture class="style-guide">
			<source
				media="(max-width: 480px)"
				srcset="/assets/images/opporty/style-guide-mobile.png"
			/>
			<img
				src="/assets/images/opporty/styleguide.jpg"
				alt="IfItDoesntMatchAnyMedia"
			/>
		</picture>

		<div class="project-section-content">
			<h3>Final Prototype</h3>
		</div>

		<div
			class="final-prototype"
			style="padding-top: 53.33%; position: relative; overflow: hidden;"
		>
			<iframe
				frameborder="0"
				allowfullscreen=""
				scrolling="no"
				allow="autoplay;fullscreen"
				src="https://onelineplayer.com/player.html?autoplay=false&autopause=false&muted=false&loop=true&url=https%3A%2F%2Fwww.dropbox.com%2Fs%2Ff4dle70gfxbcj22%2Ffinal-design.mp4%3Fraw%3D1&poster=&time=true&progressBar=true&overlay=true&muteButton=true&fullscreenButton=true&style=light&quality=auto&playButton=true"
				style="
					position: absolute;
					height: 100%;
					width: 100%;
					left: 0px;
					top: 0px;
				"
			></iframe>
		</div>
	</div>
	<!------------------- FINAL DESIGN END-------------------->

	<!------------------- REFLECTION-------------------->

	<div id="opporty-reflection">
		<div class="project-section-title">
			<h2>
				Reflection
				<span class="project-section-title-bar"></span>
			</h2>
		</div>

		<div class="project-section-content">
			<p>
				The final design has been handed off to the clients development
				team. With more time with this project, we would keep testing
				new design iterations that can further improve the user
				experience. It is our priority to make sure that any new design
				iterations have the users best interest. <br />
				<br />

				Personally this project has been a great learning experience for
				me. Since user research was extremely important for the success
				of this particular project, I had the chance strengthen my user
				interview and testing skills. I also learned a lot about
				collaboration and fostering a good team dynamic through open
				communication. Overall I believe our team were able to
				successfully solve difficult challenges through research and
				design.
			</p>
		</div>
	</div>

	<div class="divider"></div>
</section>

<!------------------- OTHER PROJECTS-------------------->

<div class="other-projects">
	<h2>Other Projects</h2>
	<div class="op-container">
		<div class="bagel project">
			<a href="/bagels/">
				<img src="/assets/images/bagels/bagel-main.jpg" alt="" />
			<div class="project-description">
				<h3>Online Ordering Sytem</h3>
				<p>UX/UI Design</p>
			</div>	
			</a>	
		</div>

		<div class="travel project">
			<a href="/travel-protected.html">
				<img src="/assets/images/travel/travel-thumbnail.jpg" alt="" />

				<div class="project-description">
					<h3>Additional Work</h3>
					<p>UX/UI Design</p>
				</div>
			</a>
		</div>

		<div class="peer project">
			<a
				href="https://www.behance.net/gallery/84356841/peer"
				target="_blank"
			>
				<img src="/assets/images/peer2.jpg" alt="" />

			<div class="project-description">
				<h3>Peer.</h3>
				<p>Visual Design</p>
			</div>				
			</a>
		</div>

	</div>
</div>

<!------------------- OTHER PROJECTS END-------------------->
