<section id="photography">


<div class="photos">

	<div class="life mygallery" itemscope itemtype="http://schema.org/ImageGallery">

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="/assets/images/gallery/life/20190106-P1130620.jpg" itemprop="contentUrl" data-size="700x1244">
		<img src="/assets/images/life.jpg" itemprop="thumbnail" alt="">
		<span>Life</span></a>
    </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="/assets/images/gallery/life/20190621-P1180654.jpg" itemprop="contentUrl" data-size="700x1049">
        <img class="hidden" src="/assets/images/logo.jpg" itemprop="thumbnail"  alt=""></a>

    </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="/assets/images/gallery/life/20190622-P1180695.jpg" itemprop="contentUrl" data-size="700x1049">
        <img class="hidden" src="/assets/images/logo.jpg" itemprop="thumbnail"  alt=""></a>

    </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="assets/images/gallery/life/20190106-P1130613.jpg" itemprop="contentUrl" data-size="1200x675">
        <img class="hidden" src="assets/images/logo.jpg" itemprop="thumbnail"  alt=""></a>

    </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="/assets/images/gallery/life/20180929-P1110842.jpg" itemprop="contentUrl" data-size="700x1244">
            <img class="hidden" itemprop="thumbnail" alt="" src="/assets/images/logo.jpg" alt=""></a>

        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="/assets/images/gallery/life/20180929-P1110834.jpg" itemprop="contentUrl" data-size="700x1244">
            <img class="hidden" itemprop="thumbnail" alt="" src="/assets/images/logo.jpg" alt=""></a>

        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="/assets/images/gallery/life/20180906-P1110412.jpg" itemprop="contentUrl" data-size="900x989">
            <img class="hidden" itemprop="thumbnail" alt="" src="/assets/images/logo.jpg" alt=""></a>

        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="/assets/images/gallery/life/20180715-P1080668.jpg" itemprop="contentUrl" data-size="700x1244">
            <img class="hidden" itemprop="thumbnail" alt="" src="/assets/images/logo.jpg" alt=""></a>

        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="/assets/images/gallery/life/20180527-P1060860.jpg" itemprop="contentUrl" data-size="1200x675">
            <img class="hidden" itemprop="thumbnail" alt="" src="/assets/images/logo.jpg" alt=""></a>

        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="/assets/images/gallery/life/20180323-P1050783.jpg" itemprop="contentUrl" data-size="700x1244">
            <img class="hidden" itemprop="thumbnail" alt="" src="/assets/images/logo.jpg" alt=""></a>

        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="/assets/images/gallery/life/20180226-P1050115.jpg" itemprop="contentUrl" data-size="1200x675">
            <img class="hidden" itemprop="thumbnail" alt="" src="/assets/images/logo.jpg" alt=""></a>

        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="/assets/images/gallery/life/20180225-P1040732.jpg" itemprop="contentUrl" data-size="1000x563">
            <img class="hidden" itemprop="thumbnail" alt="" src="/assets/images/logo.jpg" alt=""></a>

        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="/assets/images/gallery/life/20180225-P1040721.jpg" itemprop="contentUrl" data-size="700x1244">
            <img class="hidden" itemprop="thumbnail" alt="" src="/assets/images/logo.jpg" alt=""></a>

        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="/assets/images/gallery/life/20180224-P1040447.jpg" itemprop="contentUrl" data-size="1200x675">
            <img class="hidden" itemprop="thumbnail" alt="" src="/assets/images/logo.jpg" alt=""></a>

        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="/assets/images/gallery/life/20180216-P1040301.jpg" itemprop="contentUrl" data-size="1000x766">
            <img class="hidden" itemprop="thumbnail" alt="" src="/assets/images/logo.jpg" alt=""></a>

        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="/assets/images/gallery/life/20180216-P1040007.jpg" itemprop="contentUrl" data-size="700x1244">
            <img class="hidden" itemprop="thumbnail" alt="" src="/assets/images/logo.jpg" alt=""></a>

        </figure>



	</div>

	<div class="portraits mygallery" itemscope itemtype="http://schema.org/ImageGallery"  >

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
	<a href="/assets/images/gallery/portraits/20170101-P1030189.jpg" itemprop="contentUrl" data-size="900x506">	
		<img src="/assets/images/portrait.jpg" itemprop="thumbnail" alt="">
		<span>Portraits</span></a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="/assets/images/gallery/portraits/20190426-P1160831.jpg" itemprop="contentUrl" data-size="700x932">
    <img class="hidden" src="/assets/images/logo.jpg" itemprop="thumbnail" alt=""> </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="/assets/images/gallery/portraits/20190426-P1170438.jpg" itemprop="contentUrl" data-size="700x1050">
    <img class="hidden" src="/assets/images/logo.jpg" itemprop="thumbnail" alt=""> </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="/assets/images/gallery/portraits/20190330-P1160157-Edit-2.jpg" itemprop="contentUrl" data-size="700x1049">
    <img class="hidden" src="/assets/images/logo.jpg" itemprop="thumbnail" alt=""> </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="/assets/images/gallery/portraits/20190330-P1160177-Edit-2.jpg" itemprop="contentUrl" data-size="700x1049">
    <img class="hidden" src="/assets/images/logo.jpg" itemprop="thumbnail" alt=""> </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="/assets/images/gallery/portraits/20190330-P1160250.jpg" itemprop="contentUrl" data-size="700x1049">
    <img class="hidden" src="/assets/images/logo.jpg" itemprop="thumbnail" alt=""> </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="/assets/images/gallery/portraits/20190330-P1160370.jpg" itemprop="contentUrl" data-size="700x1049">
    <img class="hidden" src="/assets/images/logo.jpg" itemprop="thumbnail" alt=""> </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="/assets/images/gallery/portraits/20190426-P1170541.jpg" itemprop="contentUrl" data-size="700x1050">
    <img class="hidden" src="/assets/images/logo.jpg" itemprop="thumbnail" alt=""> </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="/assets/images/gallery/portraits/20180120-P1030453.jpg" itemprop="contentUrl" data-size="700x1244">
    <img class="hidden" src="/assets/images/logo.jpg" itemprop="thumbnail" alt=""> </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="/assets/images/gallery/portraits/20180701-P1070738-Edit.jpg" itemprop="contentUrl" data-size="700x1149">
    <img class="hidden" src="/assets/images/logo.jpg" itemprop="thumbnail" alt=""> </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="/assets/images/gallery/portraits/20180701-P1070971.jpg" itemprop="contentUrl" data-size="700x1244">
    <img class="hidden" src="/assets/images/logo.jpg" itemprop="thumbnail" alt=""> </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="/assets/images/gallery/portraits/20180701-P1080505-Edit.jpg" itemprop="contentUrl" data-size="700x1244">
    <img class="hidden" src="/assets/images/logo.jpg" itemprop="thumbnail" alt=""> </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="/assets/images/gallery/portraits/20180701-P1080507.jpg" itemprop="contentUrl" data-size="900x900">
    <img class="hidden" src="/assets/images/logo.jpg" itemprop="thumbnail" alt=""> </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="/assets/images/gallery/portraits/20180802-P1090523-Edit.jpg" itemprop="contentUrl" data-size="700x1111">
    <img class="hidden" src="/assets/images/logo.jpg" itemprop="thumbnail" alt=""> </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="/assets/images/gallery/portraits/20180802-P1090558-2.jpg" itemprop="contentUrl" data-size="700x1244">
    <img class="hidden" src="/assets/images/logo.jpg" itemprop="thumbnail" alt=""> </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="/assets/images/gallery/portraits/20180817-P1090905.jpg" itemprop="contentUrl" data-size="700x1107">
    <img class="hidden" src="/assets/images/logo.jpg" itemprop="thumbnail" alt=""> </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="/assets/images/gallery/portraits/20180817-P1090994-Edit.jpg" itemprop="contentUrl" data-size="1200x717">
    <img class="hidden" src="/assets/images/logo.jpg" itemprop="thumbnail" alt=""> </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="/assets/images/gallery/portraits/20180817-P1100003-Edit.jpg" itemprop="contentUrl" data-size="1000x1027">
    <img class="hidden" src="/assets/images/logo.jpg" itemprop="thumbnail" alt=""> </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="/assets/images/gallery/portraits/20181027-P1120502.jpg" itemprop="contentUrl" data-size="700x1244">
    <img class="hidden" src="/assets/images/logo.jpg" itemprop="thumbnail" alt=""> </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="/assets/images/gallery/portraits/20190201-P1130807.jpg" itemprop="contentUrl" data-size="700x1143">
    <img class="hidden" src="/assets/images/logo.jpg" itemprop="thumbnail" alt=""> </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="/assets/images/gallery/portraits/20190203_203521666_iOS.jpg" itemprop="contentUrl" data-size="700x1244">
    <img class="hidden" src="/assets/images/logo.jpg" itemprop="thumbnail" alt=""> </a>
        </figure>

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="/assets/images/gallery/portraits/20190203-P1140310.jpg" itemprop="contentUrl" data-size="700x1244">
    <img class="hidden" src="/assets/images/logo.jpg" itemprop="thumbnail" alt=""> </a>
        </figure>


        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="/assets/images/gallery/portraits/P1150638.jpg" itemprop="contentUrl" data-size="700x948">
    <img class="hidden" src="/assets/images/logo.jpg" itemprop="thumbnail" alt=""> </a>
        </figure>



	</div>
     
</div>




<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe. 
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. 
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>


                <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div> 
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>
</section>


