<!--------------------- HEADER ---------------------->

<div id="travel-header">
	<h1>PeekTrip</h1>
	<p>
		Creating a unique video sharing travel platform that
		<br />
	</p>
	<img src="/assets/images/travel/travel-header.png" />
</div>

<!--------------------- HEADER END ---------------------->

<section id="travel-content">
	<!--------------------- OVERVIEW ---------------------->

	<div id="travel-overview">
		<div class="project-section-title">
			<h2>
				Overview
				<span class="project-section-title-bar"></span>
			</h2>
		</div>

		<div class="project-section-content">
			<p class="overview-text">
				Peek App is an unique travel platform that allows users to
				discover new travel destinations through short-form videos. In
				addition would also allow to users to save videos to their
				travel board as well as to book an experiences from the video
				they're watching.
			</p>

			<div class="project-goal">
				<h3>Project Goal</h3>

				<p>
					Design a travel social networking app that help users the to
					explore and share new travel experiences with other
					travelers, in addition to facilitating easy bookings.
				</p>
			</div>

			<div class="project-background">
				<div class="role">
					<h4>ROLE</h4>
					<ul>
						<li>Sole UX/UI Designer</li>
					</ul>
				</div>

				<div class="tasks">
					<h4>TASKS</h4>
					<ul>
						<li>UX Research</li>
						<li>OOUX</li>
						<li>Wireflow</li>
						<li>Wireframe</li>
						<li>Prototype</li>
					</ul>
				</div>

				<div class="duration">
					<h4>DURATION</h4>
					<p>2 weeks</p>
				</div>
			</div>
		</div>
	</div>

	<!--------------------- OVERVIEW END ---------------------->

	<!------------------- RESEARCH PHASE -------------------->

	<div id="research-phase">
		<!------------------- COMPARATIVE ANALYSIS -------------------->

		<div class="project-section-title">
			<h5>DISCOVERY PHASE</h5>
			<h2>
				Understanding the space
				<span class="project-section-title-bar"></span>
			</h2>
		</div>

		<div class="project-section-content">
			<p>
				For most people discovering new travel destination directly
				though other travelers is the way to go. That's why it is
				important to utilize social network aspect of the app as a
				vehicle to allow user to discover more unique travel
				experiences. It would also foster more engagement by being more
				then simply a travel tool but also an engaging social media
				platform.
				<br /><br />

				In order to get more insights into creating a travel social
				networking app, I analyzed competitors mobile app from both
				spaces ranges from Pinterest, TikTok to Airbnb and Culture
				Trip.<br />
				<br />

				<strong>
					Key findings:
				</strong>
			</p>

			<ul>
				<li>Content should be the first thing user see on the app.</li>
				<li>
					Map can be a great and intuitive way to discover new
					experiences.
				</li>
				<li>
					Personalization is very important to improve user
					experience.
				</li>
			</ul>
		</div>
		<img class="competitors" src="/assets/images/travel/competitors.png" />
	</div>

	<!------------------- Ideation -------------------->

	<div id="ideation">
		<div class="project-section-title">
			<h5>IDEATION</h5>
			<h2>
				Main features
				<span class="project-section-title-bar"></span>
			</h2>
		</div>

		<div class="feature-box">
			<div class="feature location-id">
				<img src="/assets/images/travel/location-icon.png" />
				<h6>Explore Location</h6>
				<p>
					User should be able to learn more about the attraction or
					experience in the video. It also allows users to easily book
					the experience.
				</p>
			</div>
			<div class="feature map-integration">
				<img src="/assets/images/travel/compass-icon.png" />
				<h6>Map Integration</h6>
				<p>
					With map users can view videos from anywhere. Users can tap
					on the heatmap on the video selection will update based that
					area.
				</p>
			</div>
			<div class="feature trip-boards">
				<img src="/assets/images/travel/board-icon.png" />
				<h6>Trip Boards</h6>
				<p>
					Users can save videos into their travel boards and make a
					personalized itinerary or a dream vacation list.
				</p>
			</div>
		</div>
	</div>

	<!------------------- OOUX -------------------->

	<div id="ooux">
		<div class="project-section-title">
			<h5>OBJECT-ORIENTED UX</h5>
			<h2>
				Designing with objects in mind
				<span class="project-section-title-bar"></span>
			</h2>
		</div>

		<div class="project-section-content">
			<p>
				Around the time I started this project I was reading up on
				<a href="https://alistapart.com/article/object-oriented-ux/"
					>Object-Oriented UX</a
				>
				by Sopha Voychehovski. With OOUX before focusing on flows and
				"actions", I prioritized identifying the main objects that makes
				up an app. This process really helped me to ensure all the
				elements of the application work well together without creating
				accidental complexity of unnecessary design elements.
			</p>
		</div>

		<div class="ooux-model">
			<iframe
				class="ooux-iframe"
				style="border: none;"
				src="https://whimsical.com/embed/Y4pXmrJc7Kc2qE4dgEG7qc@2Ux7TurymPFk1yzj6enL"
			></iframe>
		</div>

		<p>
			While working through this process I was able to uncover a couple of
			"entanglements". One is how to prioritize all the CTAs in the
			"Video" object. With as many as 4 CTAs it is important to properly
			prioritize the importance of each and translate it into the design.
			Another thing is the relationship between "Experiences" and
			"Location. In the beginning I only have the "Experience" object,
			however upon further consideration I thought that it would be useful
			to have a "Location" object which provides contextual navigation for
			the users.
		</p>
	</div>

	<!------------------- Userflow -------------------->

	<div id="userflow">
		<div class="project-section-title">
			<h5>USERFLOW</h5>
			<h2>
				Mapping out the paths
				<span class="project-section-title-bar"></span>
			</h2>
		</div>

		<div class="project-section-content">
			<p>
				After completing the OOUX process I started creating a user flow
				to ensure I have all the user interaction with the main tasks
				accounted for. The tasks includes
				<strong
					>quick booking, saving to customizable trip boards, and
					finding an experience through different paths</strong
				>.
			</p>
		</div>

		<div class="userflow-model">
			<iframe
				class="userflow-iframe"
				style="border: none;"
				src="https://whimsical.com/embed/PzPeL4qbMw3Shk8GSWm8Cf@7YNFXnKbYmst5T7t41WMK"
			></iframe>
		</div>
	</div>

	<!------------------- Wireframe -------------------->

	<div id="wireframe">
		<div class="project-section-title">
			<h5>WIREFRAMES</h5>
			<h2>
				Visualizing the layout
				<span class="project-section-title-bar"></span>
			</h2>
		</div>

		<div class="project-section-content">
			<p>
				Before building the final design I created wireframes of the
				main screens. While building the wireframes I was able to
				brainstorm different layouts that could be the most intuitive
				the user.
			</p>
		</div>

		<div class="wireframe-container">
			<div class="wireframes video-location">
				<img src="/assets/images/travel/explore-location.png" />
				<div class="text">
					<h3>Home</h3>
					<p>
						With the main goal of letting users to explore
						locations/experiences in mind, tapping the "Explore"
						button will reveal a card that the provides the
						information of the location with an option to book the
						experience.
					</p>
				</div>
			</div>

			<div class="wireframes explore-map">
				<img src="/assets/images/travel/map-view.png" />
				<div class="text">
					<h3>Explore Page</h3>
					<p>
						Heatmap allows users to explore all the "hotspots" all
						around the world. When user tap on a "hotspot" the video
						selections will dynamically update to correspond to the
						"hotspots".
					</p>
				</div>
			</div>

			<div class="wireframes profile-trip">
				<img src="/assets/images/travel/trip-board.png" />
				<div class="text">
					<h3>Profile</h3>
					<p>
						On the profile page the user can also showcase their
						travel boards with their favorite videos. User can also
						make them private if they choose to.
					</p>
				</div>
			</div>
		</div>
	</div>

	<!------------------- REVISION -------------------->

	<div id="revision">
		<div class="project-section-title">
			<h5>REVISION</h5>
			<h2>
				Give clarity to the main CTAs
				<span class="project-section-title-bar"></span>
			</h2>
		</div>

		<div class="project-section-content">
			<p>
				After testing the wireframes with a couple of users, I learned
				that the video CTA's were not clear especially the Explore
				button. With that information I redesigned the action panel,
				that priorizes clarity of the 2 main CTAs. which are Explore and
				Save.
			</p>
		</div>

		<div class="revision-wireframe">
			<img src="/assets/images/travel/cta-revision.png" />
		</div>
	</div>

	<!------------------- DESIGN -------------------->

	<div id="final-design">
		<div class="project-section-title">
			<h5>DESIGN</h5>
			<h2>
				Final Prototype
				<span class="project-section-title-bar"></span>
			</h2>
		</div>

		<div class="app-screens">
			<img src="/assets/images/travel/final1.png" />
		</div>

		<div class="app-screens">
			<img src="/assets/images/travel/final2.png" />
		</div>

		<a href="https://cloud.protopie.io/p/bdb0e3c871" target="_blank" > Open the prototype ⟶ </a>
	</div>
	<div class="divider"></div>
	
</section>

<!------------------- OTHER PROJECTS-------------------->

<div class="other-projects">
	<h2>Other Projects</h2>
	<div class="op-container">
		<div class="opporty project">
			<a href="/opporty/">
				<img src="/assets/images/opporty/header.jpg" alt="" />
			</a>

			<div class="project-description">
				<h3>Opporty</h3>
				<p>UX/UI Design</p>
			</div>
		</div>

		<div class="peer project">
			<a
				href="https://www.behance.net/gallery/84356841/peer"
				target="_blank"
			>
				<img src="/assets/images/peer2.jpg" alt="" />
			</a>
			<div class="project-description">
				<h3>Peer.</h3>
				<p>Visual Design</p>
			</div>
		</div>

		<div class="dries project">
			<a
				href="https://www.behance.net/gallery/86340647/Dries-Van-Noten-Web-Store"
				target="_blank"
			>
				<img src="/assets/images/dries.jpg" alt="" />
			</a>

			<div class="project-description">
				<h3>Dries Van Noten</h3>
				<p>Visual Design</p>
			</div>
		</div>
	</div>
</div>

<!------------------- OTHER PROJECTS END-------------------->
