#contact {
	// background: url(../images/footer.svg) no-repeat;

	margin: 150px;
	margin-bottom: 30px;
	display: flex;

	@include tablet {
		margin: 40px;
	}

	@include tablet1 {
		margin: 40px;
	}

	@include phone {
		margin: 20px;
		margin-bottom: 20px;
	}
}

.footercontent {
	display: flex;
	align-self: center;
	align-items: flex-end;
	justify-content: space-between;
	width: 100%;
	margin-top: 80px;

	.phone-br{
		display: none;
			}

	@include phone {
		display: block;
		text-align: left;
	}

	h2 {
		font-family: "starling", serif;
		font-size: 48px;
		font-weight: 300;
		margin-bottom: 0;
		line-height: 1.4;

		a{	
			font-family: "starling", serif;
			text-decoration: none;
			border-bottom: 4px solid #000;


		}

		@include tablet1 {
			font-size: 48px;
		}

		@include phone {
			font-size: 40px;
			margin-bottom: 50px;

			.desktop-br{
				display: none;
			}

			.phone-br{
				display: inherit;
			}
		}
	}

	ul {
	    text-decoration: none;
	    display: flex;
	    flex-direction: column;
	    text-align: end;
		@include phone {
			margin: 0;
			padding: 0;
			text-align: left;

			@include phone {
				text-align: right;
			}
		}

		li {
			display: inline;
			margin-left: 24px;
			margin-top: 8px;
			a {
				color: inherit;
				font-family: "Libre Franklin", sans-serif;
				font-size: 26px;
				font-weight: 400;
				text-decoration: none;

				&:hover {
					color: #8b8b8b;
				}
				@include tablet1 {
					font-size: 24px;
				}
				@media (min-width: 319px) and (max-width: 440px) {
					font-size: 24px;
				}
			}
		}
	}
}
