#my-work {
	width: 80%;
	margin: auto;
	margin-top: 100px;
	padding-top: 50px;
	margin-bottom: 100px;
	@include tablet {
	    width: 85%;
		margin-top: 100px;
	}

	@include tablet1 {
		width: inherit;
		margin-top: 100px;
		margin-left: 40px;
		margin-right: 40px;
	}
	
	@include phone {
		width: 100%;
		margin: auto;
	}
	.title1 {
		position: relative;
		display: block;
		display: flex;
		justify-content: flex-start;
		@include tablet {
			margin-top: 25px;
		}

		@include phone {
			margin: 20px;
		}

		@media (min-width: 319px) and (max-width: 600px) {
			margin: 20px;		}

		h2 {
			font-family: "Starling", serif;
			font-size: 3.25rem;
			line-height: 1.3;
			font-weight: 500;
			top: 100px;
			left: 5vw;
			text-align: start;

			@include tablet1 {
				font-size: 2.5rem;
			}

			@include phone {
				font-size: 2.5rem;
			}

			span {
				font-family: "Libre Franklin";
				font-weight: 400;
				font-size: 1.3rem;
				display: block;
				@include tablet {
					line-height: 1.3;
				}
				@include tablet1 {
					font-size: 1.125rem;
					line-height: 1.3;
				}

				@include phone {
					font-size: 1.125rem;
					line-height: 1.3;
				}

				a {
					color: #053eff;
					text-decoration: none;
					font-weight: 600;
					font-size: 1.1em;
				}
			}
		}
	}

	.projects-container {
		margin-top: 10px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 50px;
		grid-row-gap: 25px;

		a{
			text-decoration: none;
		}
			
		@include tablet {
			margin-top: 30px;
		}

		@include phone {
			display: block;
			margin: 20px;
		}

		.project-description {
			align-items: center;
			display: flex;
			flex-direction: column;
			margin-top: 20px;
			margin-bottom: 20px;


			@include phone {
				margin-bottom: 40px;
			}

			@include xldesktop {
				margin-top: 20px;
			}

			h3 {
				font-family: starling;
				font-size: 1.5rem;
				font-weight: 600;
				margin-top: 0px;
				margin-bottom: 8px;

				@include phone {
					font-size: 1.375rem;
				}

				@include xldesktop {
					font-size: 2rem;
				}
			}

			p {
				font-size: 1.125rem;
				font-style: italic;
				margin-top: 0;
				color: #949494;
				width: 60%;
				text-align: center;
				line-height: 1.3;

				@include phone {
					font-size: 1rem;
				}

				@include xldesktop {
					font-size: 1.375rem;
				}
			}
		}

		img {
			width: 100%;
			display: block;
			margin: auto;
			transform: scaleX(1) scaleY(1);
			transition: 0.5s all;
			&:hover {
				transform: scaleX(1.01) scaleY(1.01);
				box-shadow: 0 4px 20px 0 rgba(100, 100, 100, 0.25);
			}

			@include tablet {
				width: 100%;
			}
		}


		.travel, .design-system {
			img{
				filter: blur(10px);
			}
		}


	}
}
