header {
  display: grid;
  grid-template-columns: 20% auto;
  padding: 20px 140px;
  margin: auto;
  z-index: 100;
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  visibility: hidden;

  @include tablet1 {
    padding: 20px;
    top: 0;
    position: fixed;

    a {
      z-index: 300;
    }
  }

  @include tablet {
    padding: 20px 50px;
  }

  @include phone {
    padding: 20px;
    top: 0;
    position: fixed;

    a {
      z-index: 300;
    }
  }

  @include xldesktop {
    padding-left: 200px;
    padding-right: 200px;
  }

  img {
    width: 30%;
    padding-left: 20px;

    @include tablet1 {
      width: 70px;
    }

    @include tablet {
      width: 35%;
    }

    @include phone {
      width: 80%;
      padding-left: 0px;
    }
  }

  .navigation {
    justify-self: right;

    @include phone {
      height: 100%;
      position: fixed;
      top: 0;
      right: 1;
      float: none;
      z-index: 100;
      margin: auto;
    }

    .main-nav-mobile {
      list-style-type: none;
      /*margin-right:20px;*/

      @include phone {
        text-align: left;
        display: block;
        list-style: none;
        margin-top: 55%;
        margin-left: 30px;
        padding: 0;
      }

      @include tablet1 {
        text-align: left;
        display: block;
        list-style: none;
        margin-top: 55%;
        margin-left: 30px;
        padding: 0;
      }
      li {
        display: inline;
        padding-left: 40px;
        &:nth-child(3) {
          @include phone {
            display: none;
          }
          @include tablet1 {
            display: none;
          }
        }
        @include phone {
          display: block;
          margin: 10px 0;
          padding: 0;
          font-size: 2rem;
        }

        @include tablet1 {
          display: block;
          margin: 10px 0;
          padding: 0;
          font-size: 2rem;
        }
      }

      a {
        text-decoration: none;
        font-size: 1rem;
        font-weight: 500;
        color: black;
        transition: 0.2s all;

        &:hover {
          color: #8b8b8b;
        }

        /*@include tablet{
            font-size: .8em;
          }*/
        @include tablet1 {
          padding: 0;
          font-family: "starling";
          font-size: 3.75rem;
        }

        @include phone {
          padding: 0;
          font-family: "starling";
        }

        @include xldesktop {
          font-size: 1.375rem;
        }
      }
    }

    .secondary-nav-mobile {
      display: none;

      @include phone {
        display: block;
        list-style-type: none;
        margin-top: 150px;
        font-size: 1.75rem;

        li {
          margin-bottom: 10px;
          a {
            color: black;
          }
        }
      }

      @include tablet1 {
        display: block;
        list-style-type: none;
        margin-top: 150px;
        font-size: 1.75rem;

        li {
          margin-bottom: 10px;
          a {
            color: black;
          }
        }
      }
    }
  }

  .box {
    float: right;
    @include phone {
      height: 100%;
      position: fixed;
      top: 0;
      right: -50rem;
      z-index: 100;
      background-color: white;
      opacity: 1;
      right: 1;
      width: 100%;
      transition: right 0.5s ease;
    }

    @include tablet1 {
      height: 100%;
      position: fixed;
      top: 0;
      right: -70rem;
      z-index: 100;
      background-color: white;
      opacity: 1;
      right: 1;
      width: 100%;
      transition: right 0.5s ease;
    }
  }

  .box.active {
    @include phone {
      background: url(../images/opporty/mobile-background.png) no-repeat;
      background-color: #c0a4c6;
      right: 0px;
      overflow: auto;
      background-size: cover;
    }

    @include tablet1 {
      background: url(../images/opporty/mobile-background.png) no-repeat;
      background-color: #c0a4c6;
      right: 0px;
      overflow: auto;
      background-size: cover;
    }
  }

  .menu-toggle {
    display: none;
    @include phone {
      align-self: center;
      height: 10px;
      cursor: pointer;
      z-index: 200;
      display: inherit;

      div {
        width: 35px;
        height: 2px;
        margin-bottom: 8px;
        background-color: black;
        transition: 0.2s ease-in-out;
        justify-self: end;
      }
      #bottom {
        width: 20px;
        justify-self: end;
        margin-bottom: 0;
      }
    }

    @include tablet1 {
      align-self: center;
      height: 10px;
      cursor: pointer;
      z-index: 200;
      display: inherit;

      div {
        width: 35px;
        height: 2px;
        margin-bottom: 8px;
        background-color: black;
        transition: 0.2s ease-in-out;
        justify-self: end;
      }
      #bottom {
        width: 20px;
        justify-self: end;
        margin-bottom: 0;
      }
    }
  }

  .menu-toggle.active {
    @include phone {
      transform-origin: center;
      -webkit-transform-style: flat;

      #bottom {
        transform: translatex(-15px);
      }
    }

    @include tablet1 {
      transform-origin: center;
      -webkit-transform-style: flat;

      #bottom {
        transform: translatex(-15px);
      }
    }
  }

  /*@keyframes yourAnimation{
    0%{
        transform: translateX(400px);
        }
    100%{
        transform: translateX(0px);
        }
}*/
}
