#photography {
	@include tablet1 {
		margin-top: 100px;
	}

	.photos {
		display: flex;
		margin-left: 150px;
		margin-right: 150px;

		@include tablet1 {
			margin-left: 50px;
			margin-right: 50px;
		}

		@media (min-width: 319px) and (max-width: 549px) {
			display: block;
			margin-left: 20px;
			margin-right: 20px;
		}

		span {
			font-family: starling;
			font-size: 23px;
			font-weight: 600;

			@media (min-width: 319px) and (max-width: 600px) {
				font-size: 1em;
			}

			@media (min-width: 319px) and (max-width: 440px) {
				font-size: 1.5em;
			}
		}
		.hidden {
			display: none;
		}

		.life {
			float: left;
			display: inline-block;
			text-align: center;
			@include tablet1 {
				width: 95%;
			}

			img {
				width: 100%;
				margin-bottom: 15px;

				@include phone {
					width: 100%;
				}
			}

			a {
				text-decoration: none;
				color: black;
			}

			@media (min-width: 319px) and (max-width: 440px) {
				margin-bottom: 30px;
			}
		}
		.portraits {
			text-align: center;
			display: inline-block;
			img {
				width: 100%;
				margin-bottom: 15px;
				@include phone {
					width: 100%;
				}
			}

			figure {
				@media (min-width: 319px) and (max-width: 440px) {
					margin: 0;
				}
			}

			a {
				text-decoration: none;
				color: black;
			}
		}
	}
}
