///BASE STYLE///

.project-section-title {
    grid-column: 4 / span 6;

    @include tablet {
        grid-column: 3 / span 8;
    }

    @include tablet1 {
        grid-column: 3 / span 8;
    }
}

.project-section-content {
    margin-left: auto;
    margin-right: auto;
    grid-column: 4 / span 6;

    @include tablet {
        grid-column: 3 / span 8;
    }

    @include tablet1 {
        grid-column: 3 / span 8;
    }
}
#travel-header {
    h1 {
        padding-top: 80px;
        font-family: starling, serif;
        font-weight: 700;
        font-style: normal;
        font-size: 42px;
        @include tablet1 {
            font-size: 38px;
        }

        @include phone {
            font-size: 28px;
        }
    }
}

#travel-content {
    h1 {
        padding: 80px 0;
        font-family: starling, serif;
        font-weight: 700;
        font-style: normal;
        font-size: 42px;
        @include tablet1 {
            font-size: 38px;
        }

        @include phone {
            font-size: 28px;
        }
    }
    .project-section-title {
        h2 {
            font-family: starling, serif;
            font-size: 42px;
            margin-top: 16px;
            @include phone {
                font-size: 30px;
            }
            span {
                background-color: #efaa82;
                height: 5px;
                display: block;
                width: 15%;
                margin-top: 5px;
            }
        }
    }

    h3 {
        font-size: 32px;
        margin-top: 0;
        margin-bottom: 15px;
        font-weight: 600;
        @include phone {
            font-size: 24px;
        }
    }

    h4 {
        color: #b5b5b5;
        font-size: 16px;
        @include phone {
            font-size: 14px;
        }
    }

    h5 {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 15px;
        opacity: 0.8;

        @include phone {
            font-size: 14px;
        }
    }

    h6 {
        margin-top: 20px;
        font-size: 18px;
        margin-bottom: 7px;
    }

    p {
        font-size: 18px;
        line-height: 30px;
        margin: 0;
        @include tablet1 {
            font-size: 18px;
        }
        @include phone {
            font-size: 16px;
        }
    }

    ul {
        list-style: none;
        padding: 0;
        font-size: 18px;
        line-height: 30px;
        @include phone {
            font-size: 16px;
            margin-top: 10px;
        }

        li {
            margin-bottom: 10px;
            @include phone {
                margin-bottom: 0;
            }
        }
    }
}

///HEADER////

#travel-header {
    background-color: #efaa82;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6%;

    h1 {
        margin-bottom: 0;
    }

    p {
        font-family: "starling";
        font-size: 24px;
        font-weight: 500;
        text-align: center;
        line-height: 140%;

        @include phone {
            font-size: 18px;
            width: 90%;
        }
    }

    img {
        max-width: 65%;
        margin-top: 40px;
        border-radius: 10px;
        margin-bottom: -130px;
        @include phone {
            max-width: 90%;
        }
    }
}

///PROJECT OVERVIEW///

#travel-overview {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    margin: auto;
    max-width: 90%;
    margin-top: 200px;

    @include phone {
        display: block;
        margin-top: 150px;
    }

    .project-background {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        @include phone {
            flex-wrap: wrap;
        }
    }

    .overview-text {
        margin-bottom: 20px;
    }
}

/// PROJECT OVERVIEW END ////////

//// RESEARCH PHASE /////
#research-phase {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    margin: auto;
    max-width: 90%;
    margin-bottom: 100px;
    margin-top: 120px;

    @include phone {
        display: block;
    }

    .project-section-content {
        ul {
            margin: 10px 20px;
            margin-bottom: 20px;

            li {
                list-style-image: url(../images/travel/bulletpoints.png);
            }
        }
    }

    .competitors {
        grid-column: 4 / span 5;
        width: 100%;
        margin-top: 50px;
    }
}

//// RESEARCH PHASE END /////

//// IDEATION /////

#ideation {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    margin: auto;
    max-width: 90%;

    @include phone {
        display: block;
    }

    .feature-box {
        grid-column: 2 / span 10;
        background: #f3f3f3;
        border-radius: 10px;
        margin-top: 40px;
        display: flex;
        justify-content: space-around;
        padding: 60px;

        @include tablet {
            grid-column: 1 / span 12;
            padding-top: 30px;
        }

        @include tablet1 {
            grid-column: 1 / span 12;
            display: block;
            padding-top: 30px;
        }

        @include phone {
            grid-column: 1 / span 12;
            display: block;
            padding: 20px;
        }

        .feature {
            width: 100%;
            padding: 50px;

            img {
                @include phone {
                    width: 20%;
                }
            }
            @include tablet {
                padding: 30px;
            }

            @include tablet1 {
                padding: 30px;
                width: inherit;
                text-align: center;
            }

            @include phone {
                padding: 20px;
                width: inherit;
                text-align: center;
            }
        }
    }
}

////////////////// IDEATION END /////////////////////

////////////////// OOUX /////////////////////

#ooux {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    margin: auto;
    max-width: 90%;
    margin-top: 120px;

    @include phone {
        display: block;
    }

    .ooux-model {
        margin-top: 50px;
        margin-bottom: 50px;
        grid-column: 3 / span 8;
        position: relative;
        overflow: hidden;
        padding-top: 56.25%;

        .ooux-iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
        }
    }

    p {
        grid-column: 4 / span 6;

        @include tablet {
            grid-column: 3 / span 8;
        }

        @include tablet1 {
            grid-column: 3 / span 8;
        }
    }
}

////////////////// OOUX END /////////////////////

////////////////// USERFLOW /////////////////////

#userflow {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    margin: auto;
    max-width: 90%;
    margin-top: 120px;

    @include phone {
        display: block;
    }

    .userflow-model {
        margin-top: 50px;
        margin-bottom: 50px;
        grid-column: 3 / span 8;
        position: relative;
        overflow: hidden;
        padding-top: 56.25%;

        .userflow-iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
        }
    }
}

////////////////// USERFLOW END /////////////////////

////////////////// WIREFRAME /////////////////////

#wireframe {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    margin: auto;
    max-width: 90%;
    margin-top: 120px;

    @include phone {
        display: block;
    }

    .wireframe-container {
        grid-column: 3 / span 8;
        .wireframes {
            margin-top: 80px;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            @include tablet1 {
                flex-direction: column-reverse;
                align-items: center;
            }

            @include phone {
                flex-direction: column-reverse;
                align-items: start;
            }

            img {
                width: 50%;
                @include tablet1 {
                    width: 80%;
                }
                @include phone {
                    width: 100%;
                }
            }

            .text {
                width: 45%;
                padding-bottom: 20px;
                @include tablet1 {
                    width: 100%;
                }
                @include phone {
                    width: 100%;
                }
            }
        }

        .explore-map {
            flex-direction: row-reverse;

            @include tablet1 {
                flex-direction: column-reverse;
            }

            @include phone {
                flex-direction: column-reverse;
                align-items: start;
            }
        }
    }
}

////////////////// WIREFRAME END/////////////////////

////////////////// REVISION /////////////////////

#revision {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    margin: auto;
    max-width: 90%;
    margin-top: 120px;

    @include phone {
        display: block;
    }

    .revision-wireframe {
        grid-column: 4 / span 5;
        margin-top: 80px;
        img {
            width: 100%;
        }
    }
}
////////////////// REVISION END /////////////////////

////////////////// FINAL DESIGN /////////////////////

#final-design {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    margin: auto;
    max-width: 90%;
    margin-top: 120px;

    @include phone {
        display: block;
    }

    .app-screens {
        margin-top: 50px;
        grid-column: 2 / span 10;
        padding: 10%;
        background-color: #f3f3f3;
        img {
            width: 100%;
        }
    }

    a{
        margin-top: 40px;
        grid-column: 5 / span 4;
        font-family:"starling";
        font-size: 38px;
        text-decoration: none;
        justify-self:center;
        transition: all 300ms ease 0s;
        border-bottom: 4px solid transparent;

        &:hover{
            border-bottom: 4px solid #000;
        }

        @include phone {
            margin-top: 40px;
            font-size: 26px;
            display: block;
        }

    }
}