<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cong Kim</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://use.typekit.net" crossorigin>
    <link href="/assets/stylesheets/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/xip4vko.css">
    <link rel="shortcut icon" type="image/png" href="/favicon.jpg">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-76317743-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-76317743-1');
    </script>
  </head>

  <body>
    {% include navigation.html %}
    <main>
    {{ content }}
    </main>

    <script src="/assets/javascripts/script.js"></script>
  </body>
</html>
